.welcome {
  width: 100vw;
  height: 100vh;
  background: #223b65 url('../img/mount.png') 50% 100%/contain no-repeat;
}
.welcome-btn {
  font-size: 16px;
  position: absolute;
  z-index: 10;
  top: 25px;
  right: 100px;
  padding: 10px 27px;
  cursor: pointer;
  transition: all .5s;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;

  @include roboto(medium);
  @include m425() {
    right: 0;
    left: 0;
    width: 200px;
    margin: auto;
  }
  &:hover {
    transition: all .5s;
    color: $brand;
    background-color: #fff;
  }
}
.welcome__footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.welcome__copyright {
  font-size: 16px;
  display: inline-block;
  max-width: 1200px;
  padding: 40px 10px;
  color: #fff;

  @include roboto(light);
  span {
    position: relative;
    margin-right: 12px;
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      position: absolute;
      right: -11px;
      bottom: 2px;
      display: block;
      width: 2px;
      height: 14px;
      margin: 0 4px;
      content: '';
      opacity: .7;
      background-color: #fff;
    }
  }
}
.welcome__copyright {
  @include m425() {
    padding: 10px;
    .welcome__copyright--name {
      display: block;
      margin-bottom: 5px;
      &:after {
        display: none;
      }
    }
  }
}
