.contact-form__wrap
  header.contact-form__header
    h2.contact-form__title Связаться со мной
  form.contact-form
    input.contact-form__input(type="text", placeholder="Ваше имя", name="name", required)
    input.contact-form__input(type="email", placeholder="Ваш email", name="email", required)
    textarea.contact-form__textarea(type="text", placeholder="Ваше сообщение", name="message", rows="5")
    span.contact-form__input--wrap
      input.contact-form__submit(type="submit", value="Отправить")
      input.contact-form__reset(type="reset", value="Очистить")