.slider__wrap
  .slider
    .slider__display
      ul.slider__list
        li.slider__item.active
          img.slider__img(src="assets/img/temp/work-1.png", alt="slider img")
        li.slider__item
          img.slider__img(src="assets/img/temp/work-2.png", alt="slider img")
        li.slider__item
          img.slider__img(src="assets/img/temp/work-3.png", alt="slider img")
        li.slider__item
          img.slider__img(src="assets/img/temp/work-4.png", alt="slider img")
    .slider__controls
      a.slider__controls-top(href="#") Prev

  .slider.slider__opposite
    .slider__display
      ul.slider__list
        li.slider__item.active
          img.slider__img(src="assets/img/temp/work-1.png", alt="slider img")
        li.slider__item
          img.slider__img(src="assets/img/temp/work-2.png", alt="slider img")
        li.slider__item
          img.slider__img(src="assets/img/temp/work-3.png", alt="slider img")
        li.slider__item
          img.slider__img(src="assets/img/temp/work-4.png", alt="slider img")
    //- .slider__controls
      a.slider__controls-top(href="#") Next