.my-card {
  text-align: center;
}
.my-card__img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 140px;
  height: 140px;
  margin-right: 5px;
  margin-bottom: 6px;
  border-radius: 50%;
  img {
    position: absolute;
    top: -0;
    left: -50px;
    width: 200%;
  }
}
.my-card__signature {
  margin-bottom: 35px;
}
.my-card__title {
  font-size: 28px;
  color: #fff;

  @include roboto(medium);
}
.my-card__subtitle {
  font-size: 16px;
  color: #fff;

  @include roboto(regular);
}
