extends ../_template

block variables
  - var title = 'Блог'
  - var header__title = ''
  - var header__bigtitle = 'Блог'
  - var header__subtitle = 'Статьи, которые я написал'

block content
  include ../common/_main-menu
  .page-header__wrap.blog-header
    include ../common/_header

  .container.blog#top-section
    aside.blog-aside
      button.blog-aside__button
      nav.blog-aside__nav#blog-nav
        ul.blog-aside__list
          li.blog-aside__item.active
            a.blog-aside__link(href="#sass") Самое важное в SASS
          li.blog-aside__item
            a.blog-aside__link(href="#hacks") Приемы применяемые в верстке, без которых не обходится ни один сайт
          li.blog-aside__item
            a.blog-aside__link(href="#g-plug") Самый необходимый набор Gulp плагинов
          li.blog-aside__item
            a.blog-aside__link(href="#why-jade") Почему я выбрал Jade

    section.blog-article__wrap#article-wrap
      article.blog-article#sass
        header.blog-article__header
          h2.blog-article__title Самое важное в SASS
          time.blog-article__time 01 сентября 2016
        .blog-article__body
          p.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p.
            Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
          img.blog-article__pic(src="assets/img/temp/code.jpg", alt="code")

      article.blog-article#hacks
        header.blog-article__header
          h2.blog-article__title Приемы в верстке без которых не обходится ни один сайт
          time.blog-article__time 13 сетнября 2016
        .blog-article__body
          p.
            Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p.
            Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

      article.blog-article#g-plug
        header.blog-article__header
          h2.blog-article__title Самый необходимый набор Gulp плагинов
          time.blog-article__time 01 октября 2016
        .blog-article__body
          p autoprefixer — один из самых полезных плагинов, который автоматически расставляет префиксы к CSS свойствам, исходя из статистики caniuse. Важно сказать, что Автопрефиксер это лишь один из множества дополнений в рамках проекта PostCSS от Злых Марсиан.
          p gulp-browser-sync — вероятно, самый нужный инструмент, с точки зрения повышения продуктивности веб-разработчиков. BrowserSync создает подключение, после чего производит автообновление страницы во всех браузерах на всех устройствах при изменениями не только клиентских или даже серверных файлов. А плюс ко всему синхронизирует позицию скроллинга и заполненные данные в формах.
          p gulp-useref — парсит специфичные блоки и конкатенирует описанные в них стили и скрипты.
          p gulp-email-design — бесценный инструмент при верстки писем, который переводит все CSS стили в инлайновые, автоматически изменяя все пути к файлам, опционально умеет загружать изображения на CDN и даже отсылать письма на почту.
          p gulp-uncss — лучшее решение для оптимизации CSS файлов. Плагин анализирует HTML код и находит все неиспользуемые и продублированные стили.
          p gulp-csso — отличный CSS минификатор. На сегодняшний день существует целый ряд CSS компрессоров и сравнительная таблица (GitHub) по ним.
          p gulp-htmlmin — простой HTML минификатор.
          p gulp-csscomb — облагораживает структуру ваших CSS.
          p gulp-csslint — CSS линтер.
          p gulp-htmlhint — HTML валидатор.

      article.blog-article#why-jade
        header.blog-article__header
          h2.blog-article__title Почему я выбрал Jade
          time.blog-article__time 08 октября 2016
        .blog-article__body
          p Почему я выбрал именно jade?
          p Хочу рассказать начав с конца. Изначально меня привлек ejs (сайт), потому что он мне более знаком (похож на шаблонизатор из framework'a Django). Но у меня с ним изначально возникли проблемы - не хотели работать циклы, хотел посмотреть документацию, но я очень удивился....это сложно назвать документацией вообще! (смотрим тут). Как вы уже догодались основная причина того, что я перешел на jade - это отсутствие у ejs документации, форумов, сообществ. Возможно данный проект и выйдет на должный уровень в дальнейшем, я бы этого очень хотел, но пока я останусь с jade.
          p Jade, изначально оттолкнул меня своим синтаксисом, это все-таки не html, просто структурированные теги, ну вот к примеру.
            pre.
              html
                head
                  title= Мой Сайт
                body
                  p Привет мир!
          p Да, да - вот такой вот код. Никаких открывающихся/закрывающихся тегов - и это по началу дико, но очень быстро понимаешь, что это удобно. Ну и конечно же - это наличие хорошей документации - для любого разработчика - это очень важно.
          p Еще один большой плюс в пользу Jade - это наследование шаблонов! Это просто супер (простите за слэнг, но это так). Чтобы это понять, посмотрите папку views, из предыдущего поста. У нас в ней два файла - это layout - базовый шаблон в котором описана вся структуру и файл index, которой наследуется от layout (extends layout) и переопределяет блок контента. Вы только представьте сколько времени вы экономите при создание сайта.
          p Итог. Думаю каждый делает свой выбор, просто попробуйте оба шаблонизатора и вам все станет понятно. Если будут вопросы, пишите. Удачи!

  include ../common/_footer
  include ../common/_preloader
